*{
    margin:0;
    padding:0;
}
body{
    background-color: rgb(211, 211, 211);
}
#logo{
    text-decoration: none;
    display: flex;
    align-items:center;
    justify-content: flex-start;
    margin:5px 20px;
    font-size: 30px;
}
@media (max-width:360px){
    #logo{
        padding:0 16%;
    }
    #nav-bar{
        display: flex;
        flex-direction: column;
        padding:0 27%;
    }
}
#nav-bar{
    display: flex;
    justify-content: flex-end;
    align-items:center;
    margin-left:auto;
    flex-wrap: wrap;
    margin-right:4vw;
    font-size: 25px;
}
#nav-link{
    text-decoration: none;
    margin:0 15px;
    display: flex;
    flex-wrap: wrap;
}
#header{
    background-color: azure;
    display:flex;
    flex:1;
    flex-wrap: wrap;
}
#main-page{
    padding:10px 25px;
}
#contact{
    text-align:center;
    padding-top:20px;
}
#email{
    font-size: 20px;
    margin-top:10px;
    width:10em;
    border-radius:5px;
}
#submit{
    margin-top:10px;
    font-size: 16px;
    width:7em;
    background-color: greenyellow;
    border-radius:5px;
}
#div1,#div2,#div3,#div4{
    height:35px;
    margin:3% 5%;
}
#div1_,#div2_,#div3_,#div4_{
        margin:3% 4%;
        font-size: 1.21em;
}
#div3{
    margin-left:2.5%;
}
#overview{
    padding-top:7em;
    display:flex;
    justify-content: center;
    flex-wrap:wrap;
}
#videos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}
#video{
    padding:6% 1%;
}
#services{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(20em,1.2fr));
    justify-items: center;
    align-items:center;
}
#card1,#card2,#card3,#card4,#card5,#card6{
    margin:15% 3% 15%;
    height:14em;
}
@media(max-width:400px){
    #card1,#card2,#card3,#card4,#card5,#card6{
        margin-top:19%;
    }
}
#service-title{
    background-color: aqua;
    padding:3% 0;
    text-align: center;
}
#cardcontent{
    background-color:#fff;
    padding:17% 5%;
    font-style: sans-serif;
}
#readmore{
    border-radius:25px;
    border:2px solid purple;
    color:purple;
    margin-left:25%;
    margin-top:1%;
    padding:3% 5%;
}
#footer{
    background-color:rgb(166, 176, 180);
    text-align:right;
    margin-top:5%;
    padding:1.5% 4%;
}
